{% if trip_list %}
<table>
    <thead>
        <tr>
            <th>
                DATE
            </th>
            <th>
                DEST
            </th>
            <th>
                DEPART
            </th>
            <th>
                TRAIN #1
            </th>
            <th>
                TRAIN #2
            </th>
            <th>
                TRAIN #3
            </th>
            <th>
                ARRIVE
            </th>
            <th>
                DURATION
            </th>
        </tr>
    </thead>
    <tbody>
        {% for trip in trip_list %}
            <tr>
                <td>
                    {{ trip.date }}
                </td>
                <td>
                    {{ trip.destination.name }}
                </td>
                <td>
                    {{ trip.departure }}
                </td>
                <td>
                    {{ trip.train_0.symbol }}
                </td>
                <td>
                    {% if trip.train_1 %}
                        {{ trip.train_1.symbol }}
                    {% endif %}
                </td>
                <td>
                    {% if trip.train_2 %}
                        {{ trip.train_2 }}
                    {% endif %}
                </td>
                <td>
                    {{ trip.arrival }}
                </td>
                <td>
                    {{ trip.duration }}
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
